:root {
    --background-primary-dark: var(--variable-collection-neutral-100);
    --background-primary-light: var(--variable-collection-neutral-0);
    --body-font-family: "Inter-Regular", Helvetica;
    --body-font-size: 16px;
    --body-font-style: normal;
    --body-font-weight: 400;
    --body-letter-spacing: 0px;
    --body-line-height: 160.0000023841858%;
    --brand-dark: var(--variable-collection-brand-dark);
    --brand-light: var(--variable-collection-brand-light);
    --brand-medium: var(--variable-collection-brand-medium);
    --caption-font-family: "Inter-Regular", Helvetica;
    --caption-font-size: 12px;
    --caption-font-style: normal;
    --caption-font-weight: 400;
    --caption-letter-spacing: 0.25px;
    --caption-line-height: 139.9999976158142%;
    --display-font-family: "Inter-Bold", Helvetica;
    --display-font-size: 44px;
    --display-font-style: normal;
    --display-font-weight: 700;
    --display-letter-spacing: -0.30000001192092896px;
    --display-line-height: 125%;
    --heading-font-family: "Inter-SemiBold", Helvetica;
    --heading-font-size: 24px;
    --heading-font-style: normal;
    --heading-font-weight: 600;
    --heading-letter-spacing: -0.10000000149011612px;
    --heading-line-height: 145.00000476837158%;
    --headline-font-family: "Inter-Bold", Helvetica;
    --headline-font-size: 32px;
    --headline-font-style: normal;
    --headline-font-weight: 700;
    --headline-letter-spacing: -0.20000000298023224px;
    --headline-line-height: 129.99999523162842%;
    --label-font-family: "Inter-Medium", Helvetica;
    --label-font-size: 14px;
    --label-font-style: normal;
    --label-font-weight: 500;
    --label-letter-spacing: 0.5px;
    --label-line-height: 139.9999976158142%;
    --shadow-card: 0px 0px 16px 0px rgba(12, 49, 97, 0.12);
    --sub-title-font-family: "Inter-Medium", Helvetica;
    --sub-title-font-size: 16px;
    --sub-title-font-style: normal;
    --sub-title-font-weight: 500;
    --sub-title-letter-spacing: 0px;
    --sub-title-line-height: 160.0000023841858%;
    --text-inverted-body: var(--variable-collection-neutral-100);
    --text-inverted-title: var(--variable-collection-neutral-0);
    --text-primary-body: var(--variable-collection-neutral-700);
    --text-primary-light: var(--variable-collection-neutral-500);
    --text-primary-thin: var(--variable-collection-neutral-300);
    --text-primary-title: var(--variable-collection-neutral-800);
    --title-font-family: "Inter-SemiBold", Helvetica;
    --title-font-size: 20px;
    --title-font-style: normal;
    --title-font-weight: 600;
    --title-letter-spacing: 0px;
    --title-line-height: 150%;
    --variable-collection-brand-dark: rgba(12, 49, 97, 1);
    --variable-collection-brand-light: rgba(44, 97, 164, 1);
    --variable-collection-brand-medium: rgba(23, 67, 122, 1);
    --variable-collection-neutral-0: rgba(255, 255, 255, 1);
    --variable-collection-neutral-100: rgba(247, 247, 247, 1);
    --variable-collection-neutral-200: rgba(187, 187, 187, 1);
    --variable-collection-neutral-300: rgba(161, 161, 161, 1);
    --variable-collection-neutral-400: rgba(132, 132, 132, 1);
    --variable-collection-neutral-500: rgba(112, 112, 112, 1);
    --variable-collection-neutral-600: rgba(86, 86, 86, 1);
    --variable-collection-neutral-700: rgba(64, 64, 64, 1);
    --variable-collection-neutral-800: rgba(28, 28, 28, 1);
}
