.links-container {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-end; /* Ini akan mengatur elemen-elemen di sisi kanan */
}

@media (max-width: 768px) {
    .links-container {
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;
    }

    .links-container > * {
        padding: 8px 16px; /* Sesuaikan dengan preferensi Anda */
    }
}
